#toggleLogin {

	padding-right: 15px;
}

#alertError {

	display: none;
}

#posts {

	padding: 20px;
	
}

.post-sent {

	color: #c9c8c8;
}

.posts-view {

	padding: 10px;
	width: 400px;
	border: 1px solid;
	border-radius: 5px;
	font-size: 20px;
	
}

#search {

	margin-top: 70px;
}

.posts-write {

	font-size: 20px;
}

#butha:hover {

	background-color: #286090;
	border-color: #2e6da4;
	font-color: #fff;
}

